{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

	{% include "partials/seo/seo_header.html" %}

</head>

<body class="stretched">

	<div id="wrapper">

		{% include "partials/header.html" %}

		{% block content %}{% endblock content %}

		{% include "partials/footer.html" %}

		<div id="gotoTop" class="uil uil-angle-up"></div>

	</div>


	{% block scripts %}{% endblock scripts %} 
	<script src="{% static 'js/plugins.min.js' %}"></script>
	<script src="{% static 'js/functions.bundle.js' %}"></script>
	<script src="{% static 'js/components/datepicker.js' %}"></script>
	<script>
		jQuery('.home-date').datepicker({
			autoclose: true,
			startDate: "today",
		});
	</script>
</body>

</html>